#header
  background-color: #E3E3E3
  font-family: 'Open Sans'
  font-weight: 300
  padding: 10px 0
  width: 100%

  .logo
    margin-left: 10%

#content
  background-color: #E7E7E7
  width: 100%

  input
    border-radius: 5px
    padding: 5px

  p
    font-color: #01BAFB
    margin: 0