body
  margin: 0
  width: 100%

#header
  background-color: #E3E3E3
  font-weight: 300
  padding: 10px 15%
  .logo
    img
      height: 35px


#slide
  background-color: red
  padding: 0 15%
  img
    margin: 0

#content
  background-color: #E7E7E7
  color: #575757
  font-family: 'Open Sans'
  font-size: 1.4em
  font-weight: 300
  padding: 20px 15%
  .highlight
    color: #00BAFE
    font-weight: 600
    font-size: 1.3em
  .darker
    color: #262626

  input
    background-color: #ededed
    border-radius: 5px
    border: solid 1px #EBEBEB
    box-shadow: inset 0 0 10px 2px #D4D4D4
    color: #575757
    font-family: 'Open Sans'
    font-size: 0.9em
    font-weight: 300
    margin-top: 30px
    padding: 10px
    width: 30%

  .submit
    background-color: #FFFFFF
    border: solid 1px #D8D8D8
    box-shadow: none
    width: 160px

  p
    margin: 0
